<h1>new resource form</h1>
<p>URl for copying/pasting while testing:</p>
<p>https://www.git-tower.com/blog/git-cheat-sheet/</p>

<section>
<fieldset>
 <form action="/resources" method='POST' class="well">
   <label for="resource_url">Resource URL</label>
   <input type="text"
     class="form-control"
     id="resource-url"
     name="res_url"
     value="">
     <br>
   <label for="resource-name">Resource Name</label>
   <input type="text"
     class="form-control"
     id="resource-name"
     name="res_name"
     value="">
     <br>
   <label for="resource-description">Resource Description</label>
   <input type="text"
     class="form-control"
     id="resource-description"
     name="res_description"
     value="">
     <br>
   <label for="resource-format">Resource Format</label>
   <input type="text"
     class="form-control"
     id="resource-format"
     name="res_format"
     value="">
     <br>
<button type="submit" class="btn btn-primary">Add Resource</button>
</form>

</fieldset>
</section>
