<h1>This is the show_resource.hbs file</h1>

<div>
      <div>
        <p>{{ selectedResource.res_url }}</p>
        <p>{{ selectedResource.res_name }}</p>
        <p>{{ selectedResource.res_description }}</p>
        <p>{{ selectedResource.res_format }}</p>
      </div>
  </div>
  <br>
